/*Custom Variables*/
$blanco: #ffffff;
$negro: #000000;

/*Tamaños de Pantalla*/
$xsm: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;

/*Mapas de tamaños de fuente*/

    /*Mobile*/
$fs-mobile: (
    /*NO SE DEBEN cambiar de orden*/

    1: 4rem,   //1- Titulo inicio h1
    2: 3.5rem, //2- Titulo Hero Páginas
    3: 2.5rem, //3- Titulo Primario Sección
    4: 1.4rem, //4- Titulo Inicio h2
    5: 2rem,   //5- Titulo Secundario Seccion
    6: 1.6rem, //6- Párrafos
    7: 1.6rem, //7- Links
    8: 1.2rem, //8- Texto footer
);
    /*Tablet*/
$fs-tablet: (
    /*NO SE DEBEN cambiar de orden*/

    1: 8vw,    //1- Titulo inicio h1
    2: 7.7vw,  //2- Titulo Hero Páginas
    3: 2.5rem, //3- Titulo Primario Sección
    4: 3vw,    //4- Titulo Inicio h2
    5: 2rem,   //5- Titulo Secundario Seccion
    6: 1.6rem, //6- Párrafos
    7: 1.6rem, //7- Links
    8: 1.2rem  //8- Texto footer
);
    /*Desktop*/
$fs-desktop: (
    /*NO SE DEBEN cambiar de orden*/

    1: 7.2rem,  //1- Titulo inicio h1
    2: 6.3rem,  //2- Titulo Hero Páginas
    3: 3.2rem,  //3- Titulo Primario Sección
    4: 2.08rem, //4- Titulo Inicio h2
    5: 2.4rem,  //5- Titulo Secundario Seccion
    6: 2rem,    //6- Párrafos
    7: 1.6rem,  //7- Links
    8: 1.4rem   //8- Texto footer
);