/*Estas variables se llaman igual que las de Bootstrap para poder sobreescribirlas*/
/*Colores*/
$primary: #1d3557;
$secondary: #e63946;
$light: #a8dadc;

$font-family-sans-serif: 'Montserrat', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";