/* La alerta que se muestra al enviar el mensaje */
.alerta {
    /* La escondemos para mostrarla con JS */
    display: none;
    z-index: 50;
    position: fixed;
    inset: 0;
    background-color: rgba($negro, .7);

    /* La caja blanca que conforma el mensaje */
    .alerta__caja {
        position: relative;
        background-color: $blanco;
        margin: 40vh auto 0 auto;
        width: fit-content;
        padding: 3rem;
        
        // El botón de cerrar la alerta
        .btn-cerrar {
            position: absolute;
            display: block;
            height: 2rem;
            width: 2rem;
            top: .5rem;
            right: .5rem;
            border-radius: 50%;
            //Cada palito de la cruz
            &::before, &::after {
                margin: 0 auto;
                content: '';
                display: block;
                height: 2px;
                width: 80%;
                background-color: rgba($negro, .7);
            }
            &::before {
                transform: translateY(1rem) rotate(45deg);
            }
            &::after {
                transform: translateY(.8rem) rotate(-45deg);
            }
            &:hover {
                background-color: rgba($negro, .2);
            }
        }
        //El texto de la alerta
        .alerta__parrafo {
            text-align: center;
        }

        .alerta__parrafo--exito {
            @extend .alerta__parrafo;
            color: $success;
        }

        .alerta__parrafo--error {
            @extend .alerta__parrafo;
            color: $danger;
        }

        .alerta__btn {
            margin: 2rem auto 0 auto;
        }
    }
}

@media only screen and (min-width: $md) {
        .alerta {
            .alerta__parrafo {

                &::after {
                    font-size: 1.6rem;
                    height: 3rem;
                    width: 3rem;
                }
            }
        }
}