/*FOOTER*/
footer {

    .navbar {
        .navbar-nav__item {
            .navbar-nav__link {
                @extend .fs-8;
            }

        }
    }
    /*El copyright*/
    .copyright {
        @extend .fs-8;
        font-weight: 300;
        text-align: center;
        color: $blanco;

        a {
            font-weight: 700;
            color: var(--secondary);
        }
    }
    .logo-footer {
        max-width: 6.9rem;
    }
}
/* El contenedor de las redes sociales */
.contenedor-sociales ul li {
    list-style: none;

    /*Cada icono de red social*/
    .icono-social {
        width: 2.6rem;

        .cls-1 {
            fill: $blanco;
            transition: fill 300ms ease;
        }

        &:hover {
            .cls-1 {
                fill: $secondary;
            }
        }
    }
}