.form {
    margin: 5rem auto;
    padding: 2.5rem;

    .form__campo {
        margin-bottom: 2rem;

        label {
            color: #ffffff;
            flex: 1 0 0;
        }

        input,
        textarea {
            width: 100%;
            border: none;
            padding: 1rem;
            margin: 1rem 0;
            background-color: #e0e0e0;
            transition: transform 300ms ease,
                background-color 300ms ease;
        }

        input:focus,
        textarea:focus,
        input:hover,
        textarea:hover {
            outline: none;
            background-color: #ffffff;
            box-shadow: 0px 0px 8px 0px $negro;
        }
        input:focus,
        textarea:focus {
            transform: scale(1.02);
            box-shadow: 0px 0px 8px 0px $negro;
        }

        textarea {
            height: 15rem;
        }
    }

    .form__legend {
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        margin: 0 auto 2rem auto;
        color: #ffffff;
    }

}

/* Métodos de contacto */
.metodos-contacto {

    min-height: 74vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .metodo-contacto {
        display: flex;
        width: fit-content;
        gap: 2rem;
        margin-bottom: 3rem;

        p {
            margin: 0;
        }
    }

    a.metodo-contacto {
        text-decoration: underline;
    }
}

.alerta {
    /* La escondemos para mostrarla con JS */
    display: none;
    position: fixed;
    inset: 0;
    background-color: rgba($negro, .7);

    .alerta__caja {
        background-color: $blanco;
        margin: 40vh auto 0 auto;
        width: fit-content;
        padding: 3rem;
    }
    .alerta__parrafo {
        text-align: center;

        &::after {
            color: $blanco;
            font-size: 100%;
            display: inline-block;
            height: 3rem;
            width: 3rem;
            margin-left: 1rem;
            padding: .4rem;
            border-radius: 50%;
        }
    }
    .alerta__parrafo--exito {
        @extend .alerta__parrafo;
        color: $success;

        &::after {
            @extend .alerta__parrafo::after;
            content: '\2713';
            background-color: $success;
        }

    }
    .alerta__parrafo--error {
        @extend .alerta__parrafo;
        color: $danger;

        &::after {
            @extend .alerta__parrafo::after;
            content: '\292B';
            background-color: $danger;
        }
    }
    .alerta__btn {
        margin: 2rem auto 0 auto;
    }
}

@media only screen and (min-width: 768px) {
    .form {
        max-width: 80rem;
        padding: 5rem;

        .form__legend {
            font-size: 3.2rem;
        }

        .form__campo {
            display: flex;
            align-items: center;

            input,
            textarea {
                flex: 2 0 0;
                width: fit-content;
                border: none;
                padding: 1rem;
                margin: 1rem;
                margin-right: 0;
            }
        }


    }
    .metodos-contacto {
        min-height: 90vh;
    }

    .alerta {
        .alerta__parrafo {

            &::after {
                font-size: 1.6rem;
                height: 3rem;
                width: 3rem;
            }
        }
    }

}