.error-404 {
    margin-top: 8rem;
    height: 100vh;

    .error-404__img {
        width: 100%;
        transition: filter 300ms ease-in-out;

        &:hover {
            filter: grayscale(1);
        }
    }

    .error-404__p {
        margin-top: 5rem;
    }

}

@include desktop {
    .error-404 {
    margin-top: 8rem;
    height: 100vh;

    .error-404__img {
        width: 45%;
        transition: filter 300ms ease-in-out;

        &:hover {
            filter: grayscale(1);
        }
    }

}
}